* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EEEEEE;
    color: #222222;
    font-size: 1.15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100%;
}

hr {
    margin: 1em auto 1em;
    width: 90%;
}

#navigation {
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
}

#navigation:has(hr) hr {
    margin: auto 1em auto;
    height: 75%;
    width: auto;
}
