#posts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 65%;
}

.post-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
}

.post-item:has(hr) hr {
    margin: auto 1em auto;
    height: 95%;
    width: auto;
}

.post-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}
