#metadata {
    width: 90%;
    margin: 2em auto 1em;
    text-align: center;
}

#less-metadata {
    color: #555555;
    margin: 1em auto 0em;
}

hr {
    width: 75%;
    margin: 1em auto 1em;
}

#content {
    max-width: 80ch;
    padding-bottom: 2em;
}

p {
    margin: 1em auto 1em;
}
